:root{
    ---corMain: #7b1172;
}
.colorsAnimation{
    animation: changeBackgroundColor 5s infinite;
}
@keyframes changeBackgroundColor {
    0% {
      background-color: var(---corMain);
    }
    50% {
      background-color: #af2aa4;
    }
    100% {
        background-color: var(---corMain);
    }
}