
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background-color: rgb(255, 255, 255);

}
main{
    width: 100%;
}

#containerCodContratante{
    width: 90%;
    margin: auto;
}
.textCodContratante{
    font-size: 1em;
    text-align: center;
    margin: 10px 0px;
}
.styleInput{
    font-size: 1em;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(---corMain);
    outline: none;
    background: none;
    margin: 50px auto;
    animation: slide 0.25s ease-out;

}
.infosCodContratante{
    padding-bottom: 0px;
    height: fit-content;
    overflow: hidden;
    animation: infosCodContratanteAnimation 2s both;
    animation-delay: 3s;

}
@keyframes infosCodContratanteAnimation {
    from  {
        height: 2px;
        padding-bottom: 0px;
    }

    to {
        height: 200px;
        padding-bottom: 80px;
    }
    
}



.infosCodContratante > p{
    margin: 10px 0px;
}


header {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 6px;
}
header > svg{
    width: 30px;
    fill: var(---corMain);
}
.containerIcon {
    text-align: center;
}

.containerIcon > img{
    width: 60%;
    margin: 20px auto;
    background-color: var(---corMain);
    border: inset solid 5px rgb(255, 255, 255);

}
.explicacaoText{
    text-align: center;
    margin: 0px 16px;
    animation: slide 0.25s ease-out;

}

.explicacaoText > h1{
    font-size: 1.2em;
    margin: 20px 0px;

}
.explicacaoText > p{
    font-size: 1em;
    margin: 20px 0px;

}

.containerInput{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-bottom: 100px;

}
#labelIdade{
    text-align: start;
    font-weight: 600;
    font-size: small;
}
.containerInput > input{
    font-size: 1em;
    border: none;
    border-bottom: 1px solid var(---corMain);
    outline: none;
    margin: 20px 0px;
    width: 100%;
    animation: slide 0.25s ease-out;

}
#avisoText{
    color: rgb(226, 5, 5);
    text-align: start;
    font-weight: 600;
    font-size: small;
}

.containerButton{
    display: flex;
    flex-direction: column;
    width: 100%;

    align-items: center;
    position: fixed;
    bottom: 0;
    margin: 10px auto;
    background-color: white;
}
.containerButton button{
    width: 90%;
    margin: 10px auto;
    padding: 10px 0px;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(---corMain);
    color: white;

}
#btn-continuar2{
    animation: containerButtonAnimation 2s both;
    animation-delay: 3s;
    display: none;
    background-color : rgba(128, 128, 128, 0.151);
    box-shadow : none;
    color: rgba(128, 128, 128, 0.699);
}

@keyframes containerButtonAnimation {
    98%  {
        background-color : rgba(128, 128, 128, 0.151);
    }
    
    100% {
        background-color: var(---corMain);
        box-shadow : 0px 2px 10px 0px #00000011;
        color: white;
    }    
}